/* .signup_btn {
  min-width: none;
  border: 1px solid transparent;
  border-radius: 50px !important;
  margin: 20px 0 !important;
} */

/* .signup label + div {
  border-radius: 30px;
  background-color: #fff;
} */

.signup > div {
  margin: 8px 0;
}

.new_account {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  margin-left: 5px !important;
}
