/* Slider Styling */
.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 0 !important;
}

.image-gallery-icon:hover {
  border: none !important;
  border-radius: 0;
  background-color: transparent;
  color: var(--sage) !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border-color: var(--sage) !important;
  border-radius: 0;
}

.image-gallery-thumbnail:hover {
  border-color: var(--sage) !important;
  border-radius: 0;
}

/* Gallery Styling */
.gallery_page .heading_container {
  margin: 80px 0 10px;
}

.gallery_page .filter_buttons {
  margin-top: 20px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery_page .filter_buttons .button {
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 15px;
  margin: 0px 5px;
  position: relative;
  background-color: var(--sage);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery_page .grid {
  max-width: 1200px;
  padding: 0;
  margin: 40px auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.gallery_page .grid > li {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px;
  margin-bottom: 30px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.gallery_page .grid > li img {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery_page .filter_buttons .is_active {
  border-color: var(--sage);
  background-color: #fff;
  color: var(--sage);
}

/* .grid .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
} */

/* Hover Effects */
.gallery_page .filter_buttons .button:hover {
  border-color: var(--sage);
  background-color: #fff;
  color: var(--sage);
}

.gallery_page .grid > li img:hover {
  transform: scale(1.15);
}

/* .grid > li:hover .overlay {
  opacity: 1;
  visibility: visible;
} */

/* Media Queries */
@media (max-width: 845px) {
  .gallery_page .filter_buttons {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .gallery_page .filter_buttons {
    gap: 0;
  }

  .gallery_page .filter_buttons .button {
    padding: 5px 10px;
    margin: 5px;
  }

  .gallery_page .grid > li {
    width: calc(100% - 30px);
  }
}
