#bottom_to_top {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: inline-block;
  background-color: var(--terra-cotta);
  text-align: center;
  z-index: 1;
}

#bottom_to_top img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
}

#bottom_to_top:hover img {
  transform: translate(-50%, -75%);
  padding-bottom: 5px !important;
}
