/* .about .left_right_showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .left_right_showcase h2 {
  margin: 20px 0 10px;
}

.about .left_right_showcase p {
  font-size: 15px;
  text-align: justify;
}

.about .left_right_showcase .about__subheading {
  margin: 20px 0 25px;
  color: var(--burnt_rose);
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
}

.about .left_right_showcase button {
  margin-top: 15px;
}

.about .left_right_showcase div {
  width: 50%;
  padding-left: 30px;
}

.about .left_right_showcase figure {
  height: 450px;
}

.about .left_right_showcase figure img {
  border-radius: 100px;
}

.about .left_right_showcase img {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
} */

.room_types .heading_container + p {
  margin: 15px 0 30px 80px;
  color: grey;
}

.room_types__container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.gallery__container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
}

.gallery__container figure {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 30px 15px;
}

.gallery__container figure img {
  border-radius: 15px;
}

.gallery .see_more__container {
  margin-top: 10px;
  text-align: center;
}

/* Media Queries */
/* @media (max-width: 1194px) {
  .about .left_right_showcase p {
    font-size: 13px;
  }
} */

/* @media (max-width: 997px) {
  .about .left_right_showcase p {
    font-size: 12px;
  }

  .about .left_right_showcase {
    flex-flow: column;
    gap: 20px;
  }

  .about .left_right_showcase div {
    width: 95%;
    padding: 0;
  }
} */

@media (max-width: 768px) {
  /* .about .left_right_showcase figure {
    width: 90%;
    height: 100%;
  } */

  .room_types__container {
    flex-flow: column;
    gap: 20px;
  }

  .gallery__container {
    justify-content: center;
  }

  .gallery__container figure {
    width: calc(100% / 2 - 40px);
  }
}

@media (max-width: 768px) {
  .room_types__container .slick-slide img,
  .room_types__container .imgslider {
    height: 100%;
  }
}

@media (max-width: 451px) {
  .room_types__container .slick-slide img,
  .room_types__container .imgslider {
    height: 30vh;
  }

  .gallery__container {
    gap: 20px;
  }

  .gallery__container figure {
    width: 95%;
    margin: 0 auto;
  }
}
