/* Drinks And Dining Section Styling */

.drinks_and_dining h2 {
  margin-bottom: 20px;
  font-size: 35px;
  letter-spacing: 2px;
}

.room_types__container {
  margin-top: 15px;
  display: flex;
  /* justify-content: flex-start; */
  /* gap: 20px; */
  flex-wrap: wrap;
}

.gallery__container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
}

.gallery__container figure {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 30px 15px;
}

.gallery__container figure img {
  border-radius: 15px;
}

.gallery .see_more__container {
  margin-top: 15px;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .room_types__container {
    flex-flow: column;
    gap: 20px;
  }

  .gallery__container {
    justify-content: center;
  }

  .gallery__container figure {
    width: calc(100% / 2 - 40px);
  }
}

@media (max-width: 768px) {
  .room_types__container .slick-slide img,
  .room_types__container .imgslider {
    height: 100%;
  }
}

@media (max-width: 451px) {
  .room_types__container .slick-slide img,
  .room_types__container .imgslider {
    height: 30vh;
  }

  .gallery__container {
    gap: 20px;
  }

  .gallery__container figure {
    width: 95%;
    margin: 0 auto;
  }
}
