.showcase .wrapper {
  padding-top: 0;
}

.showcase .wrapper {
  max-width: 100%;
}

.left_right_showcase .about__subheading {
  margin: 10px 0 25px;
  color: var(--sage);
  font-size: 20px;
  font-weight: bolder;
  line-height: 30px;
  text-transform: capitalize;
}

.left_right_showcase .read_more_button__container {
  margin: 40px 0 20px;
  text-align: center;
}

/* Left Right Showcase Section Styling */

.left_right_showcase__second {
  margin-top: 20px;
}

.left_right_showcase__first,
.left_right_showcase__second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_right_showcase__first h2,
.left_right_showcase__second h2 {
  margin: 10px 0;
}

.left_right_showcase__second h2 {
  text-align: left;
}

.left_right_showcase__first p,
.left_right_showcase__second p {
  font-size: 15px;
  text-align: justify;
}

.left_right_showcase__first div,
.left_right_showcase__second div {
  width: 45%;
}

.left_right_showcase__first div {
  padding-left: 30px;
}

.left_right_showcase__second div {
  padding-right: 30px;
}

.left_right_showcase figure {
  max-width: 45%;
  width: 100%;
  height: 450px;
}

/* Contact Us styling */
.map_container {
  width: 500px;
}

.map_container,
.address_container {
  height: 450px;
}

.address_container h2 {
  margin: 50px 0;
}

.contact_us .contact_us__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address_container {
  padding: 0 30px;
  background-color: #fff;
  color: var(--sage);
}

.address_container h2 {
  font-size: 30px;
  font-weight: bold;
}

.address_container ul {
  margin: 30px 0;
  display: flex;
  flex-flow: column;
  font-size: 14px;
  text-align: justify;
}

.address_container ul li {
  display: flex;
  align-items: flex-start;
}

.address_container ul li:not(:first-child) {
  margin-top: 10px;
}

.address_container ul li span {
  padding: 0;
}

.address_container__heading {
  width: 20%;
  display: inline-block;
  font-weight: bold;
}

.address_container__description {
  width: 70%;
  margin-left: 20px;
}

.address_container ul li a {
  margin-left: 20px;
  color: var(--sage);
}

.address_container ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--sage);
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
}

.address_container ul li a:hover::after {
  width: 100%;
}

.address__nearby {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.address__nearby ul {
  display: flex;
  flex-direction: column;
}

.address__nearby ul span {
  font-weight: bold;
}

.address__nearby .address__nearby-walk-container {
  width: 35px;
  height: 35px;
  border: 1px solid var(--sage);
  border-radius: 50%;
  position: relative;
  display: inline-block;
  background-color: var(--sage);
}

.address__nearby .address__nearby-walk {
  width: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  color: #fff;
}

.address__nearby-walk::before {
  content: url("../../assets/person-walking-solid.svg");
}

/* Media Queries */
@media (max-width: 1920px) {
  .left_right_showcase figure {
    height: 600px;
  }

  .left_right_showcase .about__subheading {
    font-size: 30px;
  }

  .left_right_showcase__first p,
  .left_right_showcase__second p {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 1536px) {
  .left_right_showcase figure {
    height: 500px;
  }

  .left_right_showcase .about__subheading {
    font-size: 25px;
  }

  .left_right_showcase__first p,
  .left_right_showcase__second p {
    font-size: 18px;
  }
}

@media (max-width: 1440px) {
  .left_right_showcase figure {
    height: 450px;
  }

  .left_right_showcase .about__subheading {
    font-size: 20px;
  }

  .left_right_showcase__first p,
  .left_right_showcase__second p {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 1194px) {
  .left_right_showcase__first p,
  .left_right_showcase__second p,
  .address_container ul {
    font-size: 13px;
  }

  .address_container ul {
    margin: 0;
  }

  .map_container {
    width: 50%;
  }

  .map_container,
  .address_container {
    height: 360px;
  }

  .address_container h2 {
    margin: 40px 0;
  }
}

@media (max-width: 997px) {
  .left_right_showcase__first p,
  .left_right_showcase__second p,
  .address_container ul {
    font-size: 12px;
  }

  .left_right_showcase__first,
  .left_right_showcase__second {
    gap: 20px;
  }

  .left_right_showcase__first,
  .contact_us .contact_us__container {
    flex-flow: column;
  }

  .left_right_showcase__second {
    flex-flow: column-reverse;
  }

  .left_right_showcase__first div,
  .left_right_showcase__second div {
    width: 95%;
    padding: 0;
  }

  .map_container,
  .address_container {
    width: 100%;
  }

  .address_container {
    padding: 0;
  }

  .address_container h2,
  .address_container ul,
  .address__nearby {
    margin-left: 5%;
  }

  .address_container__heading {
    width: 10%;
  }

  .address__nearby {
    justify-content: flex-start;
  }

  .address_container__description {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .address_container h2,
  .address_container ul,
  .address__nearby {
    margin-left: 3%;
  }

  .address_container .address__nearby ul {
    margin-left: 0;
  }

  .address_container__description,
  .address_container ul li a {
    margin-left: 10px;
  }

  .left_right_showcase figure {
    max-width: 100%;
    height: 450px;
  }

  .left_right_showcase__first img,
  .left_right_showcase__second img {
    -webkit-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.75);
  }
}

@media (max-width: 500px) {
  .address_container__heading {
    width: 20%;
  }

  .address_container__description {
    width: 72%;
  }
}

@media (max-width: 450px) {
  .left_right_showcase .about__subheading {
    font-size: 17px;
  }

  .left_right_showcase figure {
    height: 375px;
  }
}
