.amenity_card .grid {
  max-width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.amenity_card .grid > li {
  margin-top: 25px;
  flex: 0 0 calc(100% / 6);
  text-align: center;
}

.amenity_card .grid > li p {
  margin-top: 5px;
  color: #000;
  font-size: 15px;
}

.amenity_card .grid > li figure {
  padding: 1rem 1.25rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
}

/* Hover Effects */

.amenity_card .grid > li img {
  width: 35px;
  height: 40px;
}

/* Media Queries */

@media (max-width: 1024px) {
  .amenity_card .grid > li {
    flex: 0 0 calc(100% / 4);
  }
}

@media (max-width: 550px) {
  .amenity_card .grid {
    align-items: center;
    justify-content: center;
  }

  .amenity_card .grid > li {
    flex: 0 0 calc(100% / 2);
  }
}
