.slick-slide img {
  width: 100%;
  object-fit: cover;
}

.slick-dots {
  bottom: 5px;
}

.slick-dots li button:before {
  color: #fff;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: var(--burnt_rose);
}

.slick-prev,
.slick-next {
  width: 35px;
  height: 30px;
  z-index: 1;
}

.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
  font-size: 35px;
  opacity: 1;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  border: none;
}

/* Carousel Slider Styling  */

.isCarousel .slick-slide {
  padding: 0 15px;
}

.isCarousel .slick-dots {
  bottom: 5px;
}

.isCarousel .slick-dots li {
  width: 15px;
}

.isCarousel .slick-dots li button:before,
.isCarousel .slick-dots li.slick-active button:before {
  font-size: 8px;
}

.isCarousel .slick-prev {
  left: -25px;
}

.isCarousel .slick-next {
  right: -25px;
}

.banner .slick-prev,
.banner .slick-next {
  display: none !important;
}

@media (max-width: 767px) {
  .slick-slide img,
  .imgslider {
    height: 100vh;
  }
}
